@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="d-flex align-items-center page-hero inner-page-hero " id="page-hero">
      <div class="overlay-photo-image-bg "></div>
      <div class="overlay-color"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 hero-text-area">
            <h1 class="hero-title" data-splitting>Bizimle İletişime Geçin</h1>
            <nav aria-label="breadcrumb ">
              <ul class="breadcrumb wow fadeInUp" data-wow-delay="1s">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="#0"><i class="fas fa-home icon "></i>Anasayfa</a></li>
                <li class="breadcrumb-item active">İletişim</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End inner Page hero-->
    <!-- Start contact-info-1-->
    <section class="contact-info mega-section">
      <div class="container">
        <div class="section-heading center-heading">
          <h2 class="section-title wow" data-splitting="words">İletişim Bilgilerimiz</h2>
          <p class="section-subtitle wow fadeInUp" data-wow-delay=".5s"></p>
          <div class="line line-solid-main-color wow fadeIn" data-wow-delay="1s"></div>
        </div>
        <div class="info-section ">
          <div class="row "> 
            <div class="col-12 col-lg-4 ">
              <div class="info-panel wow fadeInUp" data-wow-delay=".2s"><i class="fas fa-map-marker-alt icon"></i>
                <div class="info-content">
                  <h6 class="info-title">Konumumuz</h6>
                  <p class="info-text">5 xyz st. elraml alexandria</p>
                  <p class="info-text">
                    10 abc st. elraml alexandria

                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 ">
              <div class="info-panel wow fadeInUp" data-wow-delay=".4s"><i class="fas fa-phone icon"></i>
                <div class="info-content">
                  <h6 class="info-title">Telefon Numaralarımız</h6>
                  <p class="info-text"> <a class="tel link" href="tel:0123456789">(02) 0123456789</a><a class="tel link" href="tel:0123456789">(02) 9876543210</a></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 ">
              <div class="info-panel wow fadeInUp" data-wow-delay=".6s"><i class="fas fa-envelope icon"></i>
                <div class="info-content">
                  <h6 class="info-title">E-Mail</h6>
                  <p class="info-text"> <a class="tel link" href="mailto:info@example.com">info@example.com</a><a class="tel link" href="mailto:support@example.com">support@example.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map-box">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe class="map-iframe" id="gmap_canvas" src="https://maps.google.com/maps?q=alexandria&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End contact-info-1-->
    <!-- Start contact-us -->
    <section class="contact-us  mega-section section-bg-shade" id="contact-us">
      <div class="container">
        <div class="section-heading center-heading">
          <h2 class="section-title wow" data-splitting="words">Bize Ulaşın</h2>
          <p class="section-subtitle wow fadeInUp" data-wow-delay=".5s">Bursa Kastamonulular Dayanışma Derneği</p>
          <div class="line line-solid-main-color wow fadeIn" data-wow-delay="1s"></div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-9  mx-auto wow fadeInUp  " data-wow-delay="0.4s">
            <!--Form To have user messages-->
            <div class="main-form-wraper"> 
              <form class="main-form" id="contact-us-form" method="post" action="php/send-mail.php" autocomplete="off">
                <div class="row ">
                  <div class="col-12 col-lg-6">
                    <div class="   input-wraper">
                      <input class="text-input" id="user-name" name="UserName" type="text"/>
                      <label for="user-name"> Ad-Soyad<span class="req">*</span>
                      </label><span class="b-border"></span><i></i><span class="error-msg"></span>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="   input-wraper">
                      <input class="text-input" id="user-email" name="UserEmail" type="email"/>
                      <label for="user-email"> E-mail<span class="req">*</span>
                      </label><span class="b-border"></span><i></i><span class="error-msg"></span>
                    </div>
                  </div>
                  <div class="col-12 ">
                    <div class="   input-wraper">
                      <input class="text-input" id="msg-subject" name="subject" type="text"/>
                      <label for="msg-subject"> Konu<span class="req">*</span>
                      </label><span class="b-border"></span><i></i><span class="error-msg"></span>
                    </div>
                  </div>
                  <div class="col-12 ">
                    <div class="   input-wraper">
                      <textarea class=" text-input" id="msg-text" name="message"></textarea>
                      <label for="msg-text"> Mesajınız<span class="req">*</span>
                      </label><span class="b-border"></span><i></i><span class="error-msg"> </span>
                    </div>
                  </div>
                  <div class="col-12 col-md-8 submit-wraper">
                    <button class=" ma-btn-primary" id="submit-btn" type="submit" name="UserSubmit">Gönder
                    </button>
                  </div>
                  <div class="col-12 col-md-4 ">
                    <p class="done-msg"> </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
