@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="d-flex align-items-center page-hero inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg "></div>
    <div class="overlay-color"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 hero-text-area">
                <h1 class="hero-title" data-splitting>Etkinliklerimiz</h1>
                <nav aria-label="breadcrumb ">
                    <ul class="breadcrumb wow fadeInUp" data-wow-delay="1s">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="#0"><i class="fas fa-home icon "></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">Etkinliklerimiz</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start _3-col-left-sidebar-->
<section class="blog blog-home mega-section">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                <div class="posts-grid">
                    <div class="row">
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single-featured-image.html">
                                    <div class="post-img-wraper">
                                        <div class="overlay-color"></div><i class="fas fa-search icon ">           </i><img class="post-img" src="assets/images/blog/post-images/1.jpg" alt="">
                                    </div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="post-cat" href="#"> <i class=" fas fa-list-alt icon"></i>cloud</a><span class="post-date"> <i class=" fas fa-history icon"></i>23/2/2020</span><a class="post-author" href="#"> <i class=" fas fa-user icon"></i>Allan Moore</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single-featured-image.html">
                                            <h2 class="post-title">asking big questions on your mind?</h2>
                                        </a>
                                        <p class="post-excerpt">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Iure nulla dolorem, voluptates molestiae

                                        </p><a class="read-more" href="post-single-featured-image.html">read more<i class="fas fa-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single-featured-image.html">
                                    <div class="post-img-wraper">
                                        <div class="overlay-color"></div><i class="fas fa-search icon ">         </i><img class="post-img" src="assets/images/blog/post-images/2.jpg" alt="">
                                    </div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="post-cat" href="#"> <i class=" fas fa-list-alt icon"></i>design</a><span class="post-date"> <i class=" fas fa-history icon"></i>23/2/2020</span><a class="post-author" href="#"><i class=" fas fa-user icon"></i>mhmd amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single-featured-image.html">
                                            <h2 class="post-title">world want a new kind of super heros</h2>
                                        </a>
                                        <p class="post-excerpt">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Iure nulla dolorem, voluptates molestiae


                                        </p><a class="read-more" href="post-single-featured-image.html">read more<i class="fas fa-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single-featured-image.html">
                                    <div class="post-img-wraper">
                                        <div class="overlay-color"></div><i class="fas fa-search icon ">         </i><img class="post-img" src="assets/images/blog/post-images/3.jpg" alt="">
                                    </div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="post-cat" href="#"> <i class=" fas fa-list-alt icon"></i>life style</a><span class="post-date"> <i class=" fas fa-history icon"></i>23/3/2020</span><a class="post-author" href="#"><i class=" fas fa-user icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single-featured-image.html">
                                            <h2 class="post-title">helping others can boost you happiness</h2>
                                        </a>
                                        <p class="post-excerpt">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Iure nulla dolorem, voluptates molestiae.


                                        </p><a class="read-more" href="post-single-featured-image.html">read more<i class="fas fa-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single-featured-image.html">
                                    <div class="post-img-wraper">
                                        <div class="overlay-color"></div><i class="fas fa-search icon ">         </i><img class="post-img" src="assets/images/blog/post-images/5.jpg" alt="">
                                    </div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="post-cat" href="#"> <i class=" fas fa-list-alt icon"></i>life style</a><span class="post-date"> <i class=" fas fa-history icon"></i>23/3/2020</span><a class="post-author" href="#"><i class=" fas fa-user icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single-featured-image.html">
                                            <h2 class="post-title">helping others can boost you happiness</h2>
                                        </a>
                                        <p class="post-excerpt">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Iure nulla dolorem, voluptates molestiae.


                                        </p><a class="read-more" href="post-single-featured-image.html">read more<i class="fas fa-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single-featured-image.html">
                                    <div class="post-img-wraper">
                                        <div class="overlay-color"></div><i class="fas fa-search icon ">         </i><img class="post-img" src="assets/images/blog/post-images/6.jpg" alt="">
                                    </div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="post-cat" href="#"> <i class=" fas fa-list-alt icon"></i>life style</a><span class="post-date"> <i class=" fas fa-history icon"></i>23/3/2020</span><a class="post-author" href="#"><i class=" fas fa-user icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single-featured-image.html">
                                            <h2 class="post-title">helping others can boost you happiness</h2>
                                        </a>
                                        <p class="post-excerpt">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Iure nulla dolorem, voluptates molestiae.


                                        </p><a class="read-more" href="post-single-featured-image.html">read more<i class="fas fa-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single-featured-image.html">
                                    <div class="post-img-wraper">
                                        <div class="overlay-color"></div><i class="fas fa-search icon ">         </i><img class="post-img" src="assets/images/blog/post-images/4.jpg" alt="">
                                    </div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="post-cat" href="#"> <i class=" fas fa-list-alt icon"></i>life style</a><span class="post-date"> <i class=" fas fa-history icon"></i>23/3/2020</span><a class="post-author" href="#"><i class=" fas fa-user icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single-featured-image.html">
                                            <h2 class="post-title">helping others can boost you happiness</h2>
                                        </a>
                                        <p class="post-excerpt">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Iure nulla dolorem, voluptates molestiae.


                                        </p><a class="read-more" href="post-single-featured-image.html">read more<i class="fas fa-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Start Posts pagination-->
                        <div class="col-12">
                            <nav class="posts-pagination">
                                <ul class="pagination justify-content-center">
                                    <li class="posts-page-item deactive-posts-page-item"><a class="posts-page-link " href="#" title="Previous Post"><i class="fas fa-arrow-left icon "></i></a></li>
                                    <li class="posts-page-item active"><a class="posts-page-link " href="#">1</a></li>
                                    <li class="posts-page-item"><a class="posts-page-link" href="#">2</a></li>
                                    <li class="posts-page-item"><a class="posts-page-link" href="#">3</a></li>
                                    <li class="posts-page-item"><a class="posts-page-link" href="#">4</a></li>
                                    <li class="posts-page-item"><a class="posts-page-link" href="#">5</a></li>
                                    <li class="posts-page-item"><a class="posts-page-link" href="#" title="Next Post"><i class="fas fa-arrow-right icon "></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>