
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<body class=" overlay-is-linear-gradient ">

    <section class="d-flex align-items-center page-hero inner-page-hero " id="page-hero">
        <div class="overlay-photo-image-bg "></div>
        <div class="overlay-color"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 hero-text-area">
                    <h1 class="hero-title" data-splitting>Teşkilat Yapısı</h1>
                    <nav aria-label="breadcrumb ">
                        <ul class="breadcrumb wow fadeInUp" data-wow-delay="1s">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" asp-controller="Home" asp-action="Index"><i class="fas fa-home icon "></i>Anasayfa</a></li>
                            <li class="breadcrumb-item active">Teşkilat Yapısı</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End inner Page hero-->
    <!-- Start  services_img-icon_start-aligned-->
    <section class="services-boxed  mega-section section-bg-shade">
        <div class="container">
            <div class="section-heading center-heading">
                <h2 class="section-title wow" data-splitting="words">Bursa Kastamonulular Dayanışma Derneği</h2>
                
                <div class="line line-solid-main-color wow fadeIn" data-wow-delay="1s"></div>
            </div>
            <div class="row gx-4 gy-4 services-row ">
                <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                    <!--Start First service box-->
                    <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                        <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                        <div class="service-content">
                            <h3 class="service-title">Başkan</h3>
                            <p class="service-text">
                                Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore perfe rendis explicabo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-4 gy-4 services-row text-center">
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start First service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">web development</h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
                <!-- End First service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto ">
                <!--Start Second service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".2s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/2.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">Digital Marketing</h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
                <!-- End Second service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start Third service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".3s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/3.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">SaaS products </h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
                <!-- End Third service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start fourth service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".4s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/4.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">Apps development</h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
                <!-- End fourth service box   -->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 5th service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".5s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/5.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">SEO services</h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
                <!-- End 5th service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 5th service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".5s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/5.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">SEO services</h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
                <!-- End 5th service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 5th service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".5s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/5.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">SEO services</h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
                <!-- End 5th service box-->
            </div>
                        <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 5th service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".5s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/5.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">SEO services</h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
                <!-- End 5th service box-->
            </div>
            <div class="col-12 col-md-6  col-lg-4 mx-auto  ">
                <!--Start 5th service box-->
                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".5s">
                    <div class="service-icon"><img class="img-icon" src="assets/images/services/5.png" alt="service image" draggable="false" /></div>
                    <div class="service-content">
                        <h3 class="service-title">SEO services</h3>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                            perfe rendis
                            explicabo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="loading-screen" id="loading-screen">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="back-to-top" id="back-to-top"><i class="fas fa-arrow-up icon"></i></div>

</body>
</html>