@model List<bursaKasder.Models.BKD_NewsFromUs>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int itemsPerPage = 6;
}

<section class="d-flex align-items-center page-hero inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg "></div>
    <div class="overlay-color"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 hero-text-area">
                <h1 class="hero-title" data-splitting>Bizden Haberler</h1>
                <nav aria-label="breadcrumb ">
                    <ul class="breadcrumb wow fadeInUp" data-wow-delay="1s">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="#0"><i class="fas fa-home icon "></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">Haberler</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start _2-col-left-sidebar-->
<section class="blog blog-home mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 ">
                <div class="posts-grid">
                    <div class="row" id="newsContainer">
                        @if (!Model.Any())
                        {
                            <p class="text-center text-muted">Hiç kayıt bulunamadı.</p>
                        }
                        else
                        {
                            int index = 0;
                            foreach (var news in Model)
                            {
                                <div class="col-12 col-md-6 col-lg-4 news-item" data-index="@index">
                                    <div class="post-box">
                                        <a class="post-link" href="post-single-featured-image_dark.html">
                                            <div class="post-img-wraper">
                                                <div class="overlay-color"></div>
                                                <i class="fas fa-search icon"></i>
                                                <img class="post-img" src="~/UploadNewsUsPhoto/@news.newsU_Photo" alt="">
                                            </div>
                                        </a>
                                        <div class="post-summary">
                                            <div class="post-info">
                                                <span class="post-date">
                                                    <i class="fas fa-history icon"></i> @news.newsU_Date
                                                </span>
                                            </div>
                                            <div class="post-text">
                                                <a class="post-link" href="post-single-featured-image_dark.html">
                                                    <h2 class="post-title">@news.newsU_Title</h2>
                                                </a>
                                                <p class="post-excerpt">
                                                    @news.newsU_Content
                                                </p>
                                                <a class="read-more" href="post-single-featured-image_dark.html">
                                                    Devamını Oku <i class="fas fa-arrow-right icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                index++;
                            }
                        }
                    </div>

                    <!-- Sayfalama Butonları -->
                    <div class="col-12">
                        <nav class="posts-pagination">
                            <ul class="pagination justify-content-center" id="paginationControls"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="blog-sidebar">
        </div>
    </div>


</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var itemsPerPage = @itemsPerPage; // Razor değişkenini JS içinde kullanıyoruz
        var totalItems = $(".news-item").length;
        var totalPages = Math.ceil(totalItems / itemsPerPage);
        var currentPage = 1;

        function showPage(page) {
            $(".news-item").hide();
            var start = (page - 1) * itemsPerPage;
            var end = start + itemsPerPage;
            $(".news-item").slice(start, end).fadeIn();
        }

        function createPagination() {
            $("#paginationControls").html("");
            if (totalPages > 1) {
                $("#paginationControls").append('<li class="page-item"><a class="page-link prev" href="#">«</a></li>');
                for (var i = 1; i <= totalPages; i++) {
                    $("#paginationControls").append('<li class="page-item"><a class="page-link page-number" href="#">' + i + '</a></li>');
                }
                $("#paginationControls").append('<li class="page-item"><a class="page-link next" href="#">»</a></li>');
            }
        }

        $(document).on("click", ".page-number", function () {
            currentPage = parseInt($(this).text());
            showPage(currentPage);
        });

        $(document).on("click", ".prev", function () {
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage);
            }
        });

        $(document).on("click", ".next", function () {
            if (currentPage < totalPages) {
                currentPage++;
                showPage(currentPage);
            }
        });

        showPage(currentPage);
        createPagination();
    });
</script>
