@model bursaKasder.Models.BKD_NewsFromUs
@{
    ViewData["Title"] = "showNewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="d-flex align-items-center page-hero inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg "></div>
    <div class="overlay-color"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 hero-text-area">
                <h1 class="hero-title" data-splitting>Haber Detay</h1>
                <nav aria-label="breadcrumb ">
                    <ul class="breadcrumb wow fadeInUp" data-wow-delay="1s">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index" asp-controller="Home"><i class="fas fa-home icon "></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">@Model.newsU_Title</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start Project Details Area-->
<section class="project-details">
    <div class="container">
        <div class="featured-area">
            <div class="project-featured-img"><img class="featured-img " src="~/UploadNewsUsPhoto/@Model.newsU_Photo" alt="featured image"></div>
        </div>
        <div class="project-heading">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <h1 class="project-title">@Model.newsU_Title</h1>
                </div>
            </div>
        </div>
       
        <div class="main-area">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto ">
                    <p class="project-text">
                        @Model.newsU_Content
                    </p>                                                     
                </div>
            </div>
        </div>
    </div>
</section>



