@model bursaKasder.Models.BKD_OrganizationInformation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<body class=" overlay-is-linear-gradient ">

    <section class="page-hero hero-swiper-slider slider-parallax d-flex align-items-center " id="page-hero">
        <!--Start  Swiper JS slider-->
        <div class="slider swiper-container">
            <div class="swiper-wrapper text-center">
                <!--first slider-->
                <div class="swiper-slide">
                    <div class="slider-bg" data-background="@Url.Content("~/UploadsOIPhoto/" + Model.OI_Indexphoto)">
                        
                        <div class="overlay-color"></div>
                    </div>
                    <div class="slide-content">
                        <div class="container">
                            <div class="hero-text-area   ">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-lg-8 mx-auto ">
                                        <h1 class="slide-title" data-splitting="words">create the business you <span class="hollow-text">dreamed</span> about</h1>
                                    </div>
                                    <div class="col-9  col-md-10 col-lg-8 mx-auto ">
                                        <p class="slide-subtitle narrow-centerd-text " data-splitting="words">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem recusandae reiciendis esse? Corporis, quo eum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--second slider-->
                <div class="swiper-slide">
                    <div class="slider-bg " data-background="assets/images/hero/hero-slider-bg-img-2.jpg">
                        <div class="overlay-color"></div>
                    </div>
                    <div class="slide-content">
                        <div class="container">
                            <div class="hero-text-area ">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-lg-8 mx-auto ">
                                        <h1 class="slide-title " data-splitting="words"> get another <span class="hollow-text">sucsses</span> with our awesome team</h1>
                                    </div>
                                    <div class="col-9  col-md-10 col-lg-8 mx-auto ">
                                        <p class="slide-subtitle narrow-centerd-text   " data-splitting="words">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem recusandae reiciendis esse? Corporis, quo eum.</p>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="cta-links-area  ">
                                            <div class="play-btn-row-dir">
                                                <a class="video-link" href="https://www.youtube.com/watch?v=8cN7LWGO-gE" role="button" data-fancybox="data-fancybox">
                                                    <div class="play-video-btn">
                                                        <div class="play-btn"> <img class="img-fluid play-icon" src="assets/images/icons/play-icon.svg" alt="" /></div>
                                                        <div class="play-btn-text">watch our video</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--third slider-->
            </div>
            <!--navigation buttons-->
            <div class="swiper-button-prev  wow fadeInUp" data-wow-offset="0" data-wow-delay=".4s">
                <div class="left-arrow">
                    <i class="fas fa-arrow-left icon "></i>
                </div>
            </div>
            <div class="swiper-button-next wow fadeInUp" data-wow-offset="0" data-wow-delay=".4s">
                <div class="right-arrow">
                    <i class="fas fa-arrow-right icon "></i>
                </div>
            </div>
        </div>
    </section>
    <!-- End  Page hero-->
    <!-- Start  services_img-icon_center-aligned-->
    <section class="portfolio portfolio-slider mega-section">
        <div class="container">
            <div class="section-heading center-heading">
                <h2 class="section-title wow" data-splitting="words">Etkinliklerimiz</h2>
                <p class="section-subtitle wow fadeInUp" data-wow-delay=".5s">Bursa Kastamonulular Dayanışma Derneği</p>
                <div class="line line-solid-main-color wow fadeIn" data-wow-delay="1s"></div>
            </div>
        </div>
        <div class="container-fluid p-0">

            <!--Swiper-->
            <div class="swiper-container wow fadeInUp" data-wow-delay=".5s">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                            <div class="service-content">
                                <h3 class="service-title">web development</h3>
                                <p class="service-text">
                                    Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                    perfe rendis
                                    explicabo.
                                </p>
                            </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                            <div class="service-content">
                                <h3 class="service-title">web development</h3>
                                <p class="service-text">
                                    Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                    perfe rendis
                                    explicabo.
                                </p>
                            </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                            <div class="service-content">
                                <h3 class="service-title">web development</h3>
                                <p class="service-text">
                                    Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                    perfe rendis
                                    explicabo.
                                </p>
                            </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                            <div class="service-content">
                                <h3 class="service-title">web development</h3>
                                <p class="service-text">
                                    Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                    perfe rendis
                                    explicabo.
                                </p>
                            </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                            <div class="service-content">
                                <h3 class="service-title">web development</h3>
                                <p class="service-text">
                                    Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                    perfe rendis
                                    explicabo.
                                </p>
                            </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                            <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                            <div class="service-content">
                                <h3 class="service-title">web development</h3>
                                <p class="service-text">
                                    Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                    perfe rendis
                                    explicabo.
                                </p>
                            </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev">
                    <div class="left-arrow">
                        <i class="fas fa-arrow-left icon "></i>
                    </div>
                </div>
                <div class="swiper-button-next">
                    <div class="right-arrow">
                        <i class="fas fa-arrow-right icon "></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End  services_img-icon_center-aligned   -->
    <!-- Start  portfolio Section-->
    <section class="portfolio mega-section section-bg-shade" id="portfolio">
        <div class="container">
            <div class="section-heading center-heading">
                <h2 class="section-title wow" data-splitting="words">Haberler - Duyurular</h2>
                <p class="section-subtitle wow fadeInUp" data-wow-delay=".5s">
                    Bursa Kastamonulular Dayanışma Derneği Son Dönem Haber ve Duyuruları.
                </p>
                <div class="line line-solid-main-color wow fadeIn" data-wow-delay="1s"></div>
            </div>

            <div class="row d-flex">
                <!-- Sol Taraf: Haberler / Duyurular -->
                <div class="col-lg-8">
                    <div class="swiper-container news-slider wow fadeInUp" data-wow-delay=".5s">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                                    <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                                    <div class="service-content">
                                        <h3 class="service-title">web development</h3>
                                        <p class="service-text">
                                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                            perfe rendis
                                            explicabo.
                                        </p>
                                    </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                                    <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                                    <div class="service-content">
                                        <h3 class="service-title">web development</h3>
                                        <p class="service-text">
                                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                            perfe rendis
                                            explicabo.
                                        </p>
                                    </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box service-box  wow fadeInUp" data-wow-offset="0" data-wow-delay=".1s">
                                    <div class="service-icon"><img class="img-icon" src="assets/images/services/1.png" alt="service image" draggable="false" /></div>
                                    <div class="service-content">
                                        <h3 class="service-title">web development</h3>
                                        <p class="service-text">
                                            Lorem ipsum dolor sit amet consecltetur adipisicing elit. Omnis tempore
                                            perfe rendis
                                            explicabo.
                                        </p>
                                    </div><a class="read-more" href="service-single.html">read more<i class="fas fa-arrow-right icon "> </i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev">
                            <div class="left-arrow">
                                <i class="fas fa-arrow-left icon "></i>
                            </div>
                        </div>
                        <div class="swiper-button-next">
                            <div class="right-arrow">
                                <i class="fas fa-arrow-right icon "></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sağ Taraf: Recent Posts -->
                <div class="col-lg-4">
                    <div class="recent-posts sidebar-box">
                        <h6 class="sidebar-box-title"><i class="fas fa-history icon"></i>Duyurular</h6>
                        <ul class="sidebar-list r-posts-list">
                            <li class="r-post-item">
                                <a class="r-post-link" href="#">
                                    <div class="r-post-img-wraper"><img class="r-post-img" src="assets/images/blog/recent-posts/1.jpg"></div>
                                    <div class="content">
                                        <h6 class="r-post-title">Bu bir haber başlığıdır</h6>
                                        <span class="r-post-date">Şubat, 25 2024</span>
                                    </div>
                                </a>
                            </li>
                            <li class="r-post-item">
                                <a class="r-post-link" href="#">
                                    <div class="r-post-img-wraper"><img class="r-post-img" src="assets/images/blog/recent-posts/2.jpg"></div>
                                    <div class="content">
                                        <h6 class="r-post-title">Bu bir haber başlığıdır</h6>
                                        <span class="r-post-date">Ocak, 10 2024</span>
                                    </div>
                                </a>
                            </li>
                            <li class="r-post-item">
                                <a class="r-post-link" href="#">
                                    <div class="r-post-img-wraper"><img class="r-post-img" src="assets/images/blog/recent-posts/2.jpg"></div>
                                    <div class="content">
                                        <h6 class="r-post-title">Bu bir haber başlığıdır</h6>
                                        <span class="r-post-date">Ocak, 10 2024</span>
                                    </div>
                                </a>
                            </li>
                            <li class="r-post-item">
                                <a class="r-post-link" href="#">
                                    <div class="r-post-img-wraper"><img class="r-post-img" src="assets/images/blog/recent-posts/2.jpg"></div>
                                    <div class="content">
                                        <h6 class="r-post-title">Bu bir haber başlığıdır</h6>
                                        <span class="r-post-date">Ocak, 10 2024</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row end -->
        </div> <!-- container end -->
    </section>

    <!-- Start  our-team Section-->
    <section class="our-team mega-section d-flex align-items-center" id="our-team">
        <div class="container">
            <div class="section-heading center-heading">
                <h2 class="section-title wow" data-splitting="words">Başkan Ve Yardımcıları</h2>
                <p class="section-subtitle wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto cupiditate odio rerum est</p>
                <div class="line line-solid-main-color wow fadeIn" data-wow-delay="1s"></div>
            </div>
            <div class="row">
                <!--first Team Member-->
                <div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
                    <div class="tm-member-card   wow   fadeInUp" data-wow-delay="0.2s">
                        <div class="tm-image ">
                            <div class="overlay overlay-color"> </div><img class="img-fluid " src="assets/images/our-team/1.jpg" alt="Team Member 1">
                            <div class="tm-desc">
                                <div class="sc-wraper dir-col sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item" title="Facebook"><a class="sc-link" href="#0"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                                        <li class="sc-item" title="youtube"><a class="sc-link" href="#0"><i class="fab fa-youtube sc-icon"></i></a></li>
                                        <li class="sc-item" title="instagram"><a class="sc-link" href="#0"><i class="fab fa-instagram sc-icon"></i></a></li>
                                        <li class="sc-item" title="X"><a class="sc-link" href="#0"><i class="fab fa-x-twitter sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <h6 class="tm-name">ahmed Aly</h6><span class="tm-role">web developer</span>
                        </div>
                    </div>
                </div>
                <!--Second Team Member-->
                <div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
                    <div class="tm-member-card   wow   fadeInUp" data-wow-delay="0.4s">
                        <div class="tm-image ">
                            <div class="overlay overlay-color"> </div><img class="img-fluid " src="assets/images/our-team/2.jpg" alt="Team Member 2">
                            <div class="tm-desc">
                                <div class="sc-wraper dir-col sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item" title="Facebook"><a class="sc-link" href="#0"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                                        <li class="sc-item" title="youtube"><a class="sc-link" href="#0"><i class="fab fa-youtube sc-icon"></i></a></li>
                                        <li class="sc-item" title="instagram"><a class="sc-link" href="#0"><i class="fab fa-instagram sc-icon"></i></a></li>
                                        <li class="sc-item" title="X"><a class="sc-link" href="#0"><i class="fab fa-x-twitter sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <h6 class="tm-name ">fairouz amin</h6><span class="tm-role">web designer</span>
                        </div>
                    </div>
                </div>
                <!--Third Team Member-->
                <div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
                    <div class="tm-member-card   wow   fadeInUp" data-wow-delay="0.6s">
                        <div class="tm-image ">
                            <div class="overlay overlay-color"> </div><img class="img-fluid " src="assets/images/our-team/3.jpg" alt="Team Member 3">
                            <div class="tm-desc">
                                <div class="sc-wraper dir-col sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item" title="Facebook"><a class="sc-link" href="#0"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                                        <li class="sc-item" title="youtube"><a class="sc-link" href="#0"><i class="fab fa-youtube sc-icon"></i></a></li>
                                        <li class="sc-item" title="instagram"><a class="sc-link" href="#0"><i class="fab fa-instagram sc-icon"></i></a></li>
                                        <li class="sc-item" title="X"><a class="sc-link" href="#0"><i class="fab fa-x-twitter sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <h6 class="tm-name">Allan Smith</h6><span class="tm-role">graphic designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Start teamsee-more-area-->
            <div class="see-more-area   wow fadeInUp" data-wow-delay="0.8s"><a class=" ma-btn-primary" asp-controller="Pages" asp-action="KasderStructure">Tüm Dernek Yapısı </a></div>
        </div>
    </section>


    <!-- Start  our-clients Section-->
    <section class="our-clients   elf-section" id="our-clients">
        <div class="container">
            <div class="section-heading d-none ">
                <h4 class="section-title ">our great clients</h4>
                <p class="section-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto cupiditate odio rerum est</p>
                <div class="line-gradient-color">       </div>
            </div>
            <div class=" clients-logos d-flex align-items-center justify-content-around flex-wrap">
                <!--Swiper-->
                <div class="swiper-container">
                    <div class="swiper-wrapper clients-logo-wraper">

                        <div class="swiper-slide">
                            <div class="client-logo  wow fadeInUp" data-wow-delay=".2s"><a href="#0"><img class="img-fluid logo " src="assets/images/clients-logos/1-white.png" alt=" "></a></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-logo wow fadeInUp" data-wow-delay=".2s"><a href="#0"><img class="img-fluid logo " src="assets/images/clients-logos/2-white.png" alt=" "></a></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-logo wow fadeInUp" data-wow-delay=".2s"><a href="#0"><img class="img-fluid logo " src="assets/images/clients-logos/3-white.png" alt=" "></a></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-logo wow fadeInUp" data-wow-delay=".2s"><a href="#0"><img class="img-fluid logo " src="assets/images/clients-logos/4-white.png" alt=" "></a></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-logo wow fadeInUp" data-wow-delay=".2s"><a href="#0"><img class="img-fluid logo " src="assets/images/clients-logos/5-white.png" alt=" "></a></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-logo wow fadeInUp" data-wow-delay=".2s"><a href="#0"><img class="img-fluid logo " src="assets/images/clients-logos/6-white.png" alt=" "></a></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="client-logo wow fadeInUp" data-wow-delay=".2s"><a href="#0"><img class="img-fluid logo " src="assets/images/clients-logos/7-white.png" alt=" "></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="loading-screen" id="loading-screen">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="back-to-top" id="back-to-top"><i class="fas fa-arrow-up icon"></i></div>

</body>

</html>