@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pc-container">
    <div class="pc-content">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-sm p-4 text-center">
                    <h1 class="text-primary">Hoş Geldiniz!</h1>
                    <p class="lead">Bursa Kasder Yönetim Paneline Hoş Geldiniz.</p>
                </div>
            </div>
        </div>
    </div>
</div>




