
<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->
<head>

    <!-- [Meta] -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description">
    <meta name="keywords">
    <meta name="author" content="CodedThemes">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <!-- jQuery'yi sayfanıza ekleyin -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- SweetAlert2 Kütüphanesi -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">

    <link rel="stylesheet" href="~/css/adminAssets/fonts/tabler-icons.min.css">

    <link rel="stylesheet" href="~/css/adminAssets/fonts/feather.css">

    <link rel="stylesheet" href="~/css/adminAssets/fonts/fontawesome.css">

    <link rel="stylesheet" href="~/css/adminAssets/fonts/material.css">

    <link rel="stylesheet" href="~/css/adminAssets/style.css" id="main-style-link">
    <link rel="stylesheet" href="~/css/adminAssets/style-preset.css">

</head>

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">

    <script src="~/js/adminAssets/popper.min.js"></script>
    <script src="~/js/adminAssets/simplebar.min.js"></script>
    <script src="~/js/adminAssets/bootstrap.min.js"></script>
    <script src="~/js/adminAssets/custom-font.js"></script>
    <script src="~/js/pcoded.js"></script>
    <script src="~/js/adminAssets/feather.min.js"></script>

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ Sidebar Menu ] start -->
    <nav class="pc-sidebar">
        <div class="navbar-wrapper">
            <div class="m-header">
                <a asp-action="Index" asp-controller="Home" class="b-brand text-primary">
                    <!-- ========   Change your logo from here   ============ -->
                    <img src="../assets/images/logo-dark.svg" class="img-fluid logo-lg" alt="logo">
                </a>
            </div>
            <div class="navbar-content">
                <ul class="pc-navbar">
                    <li class="pc-item">
                        <a asp-controller="Admin" asp-action="Index" class="pc-link">

                            <span class="pc-mtext">Anasayfa</span>
                        </a>
                    </li>

                    <li class="pc-item pc-caption">
                        <label>Site Yönetimi</label>
                        <i class="ti ti-dashboard"></i>
                    </li>
                    <li class="pc-item">
                        <a asp-controller="Admin" asp-action="addAbout" class="pc-link">

                            <span class="pc-mtext">Hakkınızda</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="../elements/bc_color.html" class="pc-link">

                            <span class="pc-mtext">Etkinlikler</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a asp-controller="Admin" asp-action="AnnouncementsList" class="pc-link">
    
                            <span class="pc-mtext">Duyurular</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="../elements/icon-tabler.html" class="pc-link">

                            <span class="pc-mtext">Bizimle İletişime Geçenler</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="/Admin/UserList" class="pc-link" >

                            <span class="pc-mtext">Kullanıcılar</span>
                        </a>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon"><i class="ti ti-menu"></i></span><span class="pc-mtext">
                                Diğer İşlemler
                            </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item"><a class="pc-link" asp-controller="Admin" asp-action="addAbout">Hakkımızda Ekle</a></li>

                            <li class="pc-item"><a class="pc-link" asp-controller="Admin" asp-action="addContact">İletişim Bilgileri Ekle</a></li>

                            <li class="pc-item"><a class="pc-link" asp-controller="Admin" asp-action="addOI">Dernek Bilgileri Ekle</a></li>

                            <li class="pc-item"><a class="pc-link" asp-controller="Admin" asp-action="">Hakkımızda Ekle</a></li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
    <header class="pc-header">
        <div class="header-wrapper">
            <!-- [Mobile Media Block] start -->
            <div class="me-auto pc-mob-drp">
                <ul class="list-unstyled">
                    <!-- ======= Menu collapse Icon ===== -->
                    <li class="pc-h-item pc-sidebar-collapse">
                        <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="pc-h-item pc-sidebar-popup">
                        <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- [Mobile Media Block end] -->
        <ul>
            <li class="dropdown pc-h-item header-user-profile">

                    <div class="tab-content" id="mysrpTabContent">
                        <div class="tab-pane fade show active" id="drp-tab-1" role="tabpanel" aria-labelledby="drp-t1" tabindex="0">
                            <a asp-controller="Login" asp-action="Logout" class="dropdown-item">         
                                <span>Çıkış</span>
                            </a>
                        </div>
                    </div>
            </li>
        </ul>
        </div>
        
    </header>

    <main >
        @RenderBody() 
    </main>


    <footer class="pc-footer">
        <div class="footer-wrapper container-fluid">
            <div class="row">
                <div class="col-sm my-1 text-center">
                    <p class="m-0">
                        &copy; 2025 <strong>ELSA YAZILIM</strong> |
                        <a href="https://www.elsayazilim.com/" target="_blank">BURSA KASTAMONULULAR DAYANIŞMA DERNEĞİ</a>
                        | Tüm Hakları Saklıdır.
                    </p>
                </div>

            </div>
        </div>
   </footer>
    

    <script>layout_change('light');</script>

    <script>change_box_container('false');</script>

    <script>layout_rtl_change('false');</script>

    <script>preset_change("preset-1");</script>

    <script>font_change("Public-Sans");</script>

</body>
<!-- [Body] end -->
</html>